<ng-container *ngIf="connectionState$ | async">
  <div class="wrapper" [ngSwitch]="connectionState">
    <div class="slide" *ngSwitchCase="'DISCONNECTED'">
      <app-noise (reconnectAway)="reconnect()"></app-noise>
    </div>
    <div class="slide" *ngSwitchCase="'LOADING'">
      <app-loading></app-loading>
    </div>
    <ng-container *ngSwitchDefault>
      <div class="slide"
         @animationTriggerName
         *ngIf="(viewState$ | async) === 'COUNTER'">
        <app-counter></app-counter>
      </div>

      <div class="slide"
          @animationTriggerName
          *ngIf="(viewState$ | async) === 'EVENT_LIST'">
        <app-event-list></app-event-list>
      </div>

      <div class="slide"
          @animationTriggerName
          *ngIf="(viewState$ | async) !== 'COUNTER' && (viewState$ | async) !== 'EVENT_LIST'">
        <app-counter-config></app-counter-config>
      </div>
    </ng-container>
  </div>
</ng-container>



