<div class="container">
  @if (view$ | async; as view) {
    @switch(view.status) {
      @case(ViewStatus.LOADING) {
        <app-loading></app-loading>
      }
      @case(ViewStatus.READY) {
        <app-timer
          [length]="view.data!.length"
          [time]="0"
          [eventType]="view.data!.type"
        ></app-timer>

        <div class="bottomControlsRow">
          <button gui
            type="button" 
            [inputs]="{
              icon: 'mu mu-play',
              color: 'rgb(88 83 118 / 52%)'
            }"
            [outputs]="{click: startNextEvent.bind(this, view.data!)}"
          >
            Начать
          </button>
        </div>
      }
      @case(ViewStatus.ERROR) {
        <pre style="white-space: normal;">{{view.error}}</pre>
      }
    }
  }
</div>