@if (eventState$ | async; as eventState) {
  
  <!-- <pre>{{eventState|json}}</pre> -->
  <li>
    
    <div>
      <div class="name">
  {{eventProps?.id}} | {{ eventProps.name }} | {{ eventState.eventState }} 
      </div>
      <ng-container *ngIf="eventState.viewState === 'READY_VIEW_STATE'">
        <div *ngIf="eventState.eventState === EventStates.COMPLETED" class="timer">
          COMPLETED
          <i title="play" class="mu mu-play" (click)="playEvent()"></i>
          <br>
          <i title="delete" class="mu mu-i-cross" (click)="deleteEvent()"></i>   
        </div>
        <div *ngIf="eventState.eventState === EventStates.PLAYING" class="timer">
          PLAYING
          <pre>{{ eventState.data?.cur }}</pre>
          <br>
          <i title="delete" class="mu mu-i-cross" (click)="deleteEvent()"></i>   
        </div>
        <div *ngIf="eventState.eventState === EventStates.PAUSED" class="timer">
          <pre>isPaused</pre>
          <br>
          <i title="delete" class="mu mu-i-cross" (click)="deleteEvent()"></i>   
        </div>
        <div *ngIf="eventState.eventState === EventStates.STOPPED" class="timer">
          <pre>isStopped</pre>
          <br>
          <i title="delete" class="mu mu-i-cross" (click)="deleteEvent()"></i>   
        </div>
        
        <div *ngIf="eventState.eventState === EventStates.PENDING" class="timer">
          <pre>PENDING</pre>
          <br>
          <i title="delete" class="mu mu-i-cross" (click)="deleteEvent()"></i>   
        </div>
      </ng-container>

      <div class="percent">
        {{ eventState.data?.prc }}%
      </div>
      <ng-container *ngIf="eventState.viewState === 'LOADING_VIEW_STATE'">
        <div *ngIf="eventState.eventState === EventStates.PENDING" class="timer">
          <pre>PENDING</pre>
        </div>
      </ng-container>
    </div>
    <div class="action">



     <!--  <div *ngIf="(eventState.viewState === 'READY_VIEW_STATE') && (eventState.eventState !== 'ERROR_VIEW_STATE') && (eventState.eventState !== 'PENDING')">
          <ng-container *ngIf="eventState.eventState === 'isRunning'" >
            <i title="pause" class="mu mu-pause" (click)="pauseEvent()"></i>    
          </ng-container>
          <ng-container *ngIf="(eventState.eventState === 'isPaused') || eventState.eventState === 'inactive'" >
            <i title="play" class="mu mu-play" (click)="playEvent()"></i>    
          </ng-container>
      </div> -->

      <div *ngIf="eventState.viewState === 'ERROR_VIEW_STATE'" class="timer">
          <pre>ERROR</pre>
        </div>

      <div gui type="dropdown"
        [inputs]="{
          buttonIcon: 'mu mu-opts-v',
          items: menuItems
        }"
        [outputs]="{
          itemSelected: deleteEvent.bind(this)
        }"
      ></div>
    </div>
  </li>  
}
