@if (eventState$ | async; as eventState) {
  <li>
    <div>
      <ng-container *ngIf="eventState.viewState === 'READY_VIEW_STATE'">

        <ng-container [ngTemplateOutlet]="name"></ng-container>
        
        <ng-container [ngTemplateOutlet]="readableState"></ng-container>

        <ng-container [ngTemplateOutlet]="playButton"></ng-container>

        <ng-container [ngTemplateOutlet]="pauseButton"></ng-container>

        <ng-container 
          [ngTemplateOutlet]="progressBar" 
          [ngTemplateOutletContext]="{$implicit: eventState.data}"
        ></ng-container>

       <!--  <ng-container [ngSwitch]="eventState.eventState">
          <ng-container *ngSwitchCase="EventStates.COMPLETED">
            <pre>IS COMPLETED</pre>
            <ng-container [ngTemplateOutlet]="playButton"></ng-container>
          </ng-container>
          
          <ng-container *ngSwitchCase="EventStates.PLAYING">
            PLAYING
            <ng-container 
              [ngTemplateOutlet]="progressBar" 
              [ngTemplateOutletContext]="{$implicit: eventState.data}"
            ></ng-container>
          </ng-container>
          
          <ng-container *ngSwitchCase="EventStates.PAUSED">
            <pre>IS PAUSED</pre>
            <ng-container [ngTemplateOutlet]="playButton"></ng-container>
          </ng-container>
          
          <ng-container *ngSwitchCase="EventStates.STOPPED">
            <pre>IS STOPPED</pre>
            <ng-container [ngTemplateOutlet]="playButton"></ng-container>
          </ng-container>
          
          <ng-container *ngSwitchCase="EventStates.PENDING">
            <pre>??? IS PENDING</pre>
          </ng-container>
        </ng-container>  -->
        
      </ng-container>

      <ng-template #name let-data>
        <div class="name" (click)="goToEventTimer()">
          {{ eventProps.id }} | {{ eventProps.name }}
          <ng-container [ngTemplateOutlet]="deleteButton"></ng-container>
        </div>
      </ng-template>

      <ng-template #readableState>
        @if (eventState && eventState.eventState) {
          IS {{ eventStateNames[eventState.eventState] }}  
        }
        
      </ng-template>

      <ng-template #playButton>
        @if (eventState.eventState !== EventStates.PLAYING) {
          <i title="play" class="mu mu-play" (click)="playEvent()"></i>
        }
      </ng-template>

      <ng-template #pauseButton>
        @if (eventState.eventState === EventStates.PLAYING) {
          <i title="pause" class="mu mu-pause" (click)="pauseEvent()"></i>
        }
      </ng-template>

      <ng-template #progressBar let-data>
        <div class="progressBar">
          <div class="time">
            {{ data?.cur }}
          </div>
          |
          <div class="percent">
            {{ data?.prc }}%
          </div>
        </div>
      </ng-template>

      <ng-template #deleteButton>
        <i title="delete" class="mu mu-i-cross" (click)="deleteEvent()"></i>
      </ng-template>

      


      <ng-container *ngIf="eventState.viewState === 'LOADING_VIEW_STATE'">
        <div *ngIf="eventState.eventState === EventStates.PENDING" class="timer">
          <pre>PENDING</pre>
        </div>
      </ng-container>
    </div>
    <div class="action">

      <div *ngIf="eventState.viewState === 'ERROR_VIEW_STATE'" class="timer">
          <pre>ERROR</pre>
        </div>

      <div gui type="dropdown"
        [inputs]="{
          buttonIcon: 'mu mu-opts-v',
          items: menuItems
        }"
        [outputs]="{
          itemSelected: deleteEvent.bind(this)
        }"
      ></div>
    </div>
  </li>  
}
