<!-- <div class="list-wrapper">
	<ul>
		<li *ngFor="let event of events">
			<div>
				<div class="name">
					{{ event.event_name }}
				</div>
			</div>
			<div class="action">
				<i title="play" class="mu mu-play" (click)="playEvent(event.id)"></i>
		   	  <div gui type="dropdown"
			   	  [inputs]="{
			   	  	buttonIcon: 'mu mu-opts-v',
			   	  	items: menuItems
			   	  }"
			   	  [outputs]="{
					itemSelected: deleteEvent.bind(this, event.id)
			   	  }"
		   	  ></div>
			</div>
		</li>
	</ul>	
</div>
 -->
 
 <div class="header">
 	<div class="scheduleName">
 		<div gui type="dropdown"
	        [inputs]="{
	          buttonIcon: 'mu mu-calendar',
	          items: scheduleMenuItems$
	        }"
	        [outputs]="{
	          itemSelected: switchToSchedule.bind(this)
	        }"
	      ></div>

 		@if(currentSchedule$ | async; as schedule) {
 			{{schedule.name}}
 		}
 	</div>
 	<div class="actions">
 		<span (click)="loadAllEvents()">all events</span> | 
 		<span (click)="goToCreateEvent()">create event</span>
 	</div>
 </div>

@if (events$ | async; as events) {
	<div class="list-wrapper">
	  <ul>
	  	@for(event of events; track event) {
	  		<app-event-list-event 
		      [eventProps]="event"
		     >
		    </app-event-list-event>	
		} @empty {
		    <li class="noEvents">
		    	<p>No events</p>
		    	<a (click)="goToCreateEvent()">Добавить</a>
		    </li>
		  }
	  </ul>
	</div>
}