<input gui type="number"
  [inputs]="{
    label: 'Работа',
    max: 60,
    value: scheduleConfig.work
  }"
  [outputs]="{
    valueChange: onWorkInputChange.bind(this)
  }"
>
<input gui type="number"
  [inputs]="{
    label: 'Отдых',
    max: 60,
    value: scheduleConfig.rest
  }"
  [outputs]="{
    valueChange: onRestInputChange.bind(this)
  }"
>
<input gui type="number"
  [inputs]="{
    label: 'Большой отдых',
    max: 60,
    value: scheduleConfig.bigRest
  }"
  [outputs]="{
    valueChange: onBigRestInputChange.bind(this)
  }"
>
<input gui type="number"
  [inputs]="{
    label: 'Большой отдых через',
    max: 10,
    value: scheduleConfig.bigRestStep
  }"
  [outputs]="{
    valueChange: onBigRestStepInputChange.bind(this)
  }"
>
<input gui type="number"
  [inputs]="{
    label: 'Циклы',
    max: 10,
    value: scheduleConfig.cycles
  }"
  [outputs]="{
    valueChange: onCyclesInputChange.bind(this)
  }"
>
<div [style.height.px]="'20'"></div>
<div [class.row]="createdFullResult">
  <button gui
    type="submit" 
    [inputs]="{
      label: isLoadingFull ? 'Создание...' : 'Создать таймер',
      disabled: isLoadingFull,
    }"
    [outputs]="{click: onSubmit.bind(this)}"
  >
    <span *ngIf="isLoadingFull" class="spinner-border spinner-border-sm me-2"></span>
    Создать таймер
  </button>

  <button gui type="button" *ngIf="createdFullResult"
    [inputs]="{
      label: 'Перейти',
      disabled: isLoadingFull,
      routerLink: createdFullResult
    }"
  ></button>
</div>

<div [style.height.px]="'20'"></div>
<div [class.row]="createdEmptyResult">
  <button gui
    type="button" 
    [inputs]="{
      label: isLoadingEmpty ? 'Создание...' : 'Создать пустой таймер',
      disabled: isLoadingEmpty,
    }"
    [outputs]="{click: onCreateEmptySchedule.bind(this)}"
  >
    <span *ngIf="isLoadingEmpty" class="spinner-border spinner-border-sm me-2"></span>
    Создать пустой таймер
  </button>

  <button gui type="button" *ngIf="createdEmptyResult"
    [inputs]="{
      label: 'Наполнить',
      disabled: isLoadingEmpty,
      routerLink: createdEmptyResult
    }"
  ></button>
  
</div>


