<div class="timer" [style.max-width.px]="maxWidth">
  <svg class="ring" viewBox="0 0 206 206">
    <circle
      stroke="#e8e8e8" stroke-width="12" fill="none"
      cx="103" cy="103" r="94">
    </circle>

    <circle
      class="ring__progress"
      [attr.stroke-dasharray]="getDashArray()"
      stroke="#333" stroke-width="12" stroke-linecap="round"
      fill="none" cx="103" cy="103" r="94"
      [attr.transform]="getTransform()">
    </circle>
  </svg>

  <div class="inner">
    <div class="inner__icon">
      @if(Number(eventType) === Number(eventTypes.WORK)) {
        <i class="mu mu-show"></i>
      } @else {
        <i class="mu mu-audio"></i>
      }
    </div>

    <div class="inner__time">
      @if(timeLeft >= 3600) {
        <span>{{ timeLeft * 1000 | date:'HH:mm:ss':'UTC' }}</span>
      } @else {
        <span>{{ timeLeft * 1000 | date:'mm:ss':'UTC' }}</span>
      }
    </div>

    

    @if (scheduleEvents.length) {
      <div class="equalizer-wrap">
        <app-schedule-equalizer
          [events]="scheduleEvents"
          [activeEventId]="activeEventId"
          [containerWidth]="maxWidth * 0.6"
          [upsideDown]="true"
        />
      </div>
    }

    <div class="inner__label">
      @if(eventType === eventTypes.WORK) {
        <span>WORK</span>
      } @else {
        <span>REST</span>
      }
    </div>
  </div>
</div>
