@keyframes donut-chart-fill {
  to { stroke-dasharray: 0 100; }
}
body {
  //font-size: 16px;
  //font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

.svg-item {
  //width: 200px;
  //height: 200px;
  //font-size: 16px;
  position: relative;
  //font-size: 40px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.inputContainer{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  //width: 3em;
  //height: 3em;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //position: absolute;
  //top: 1.3em;
  //left: 1em;

}
.inputRow{
  position: relative;
  top: -0.65em;
  &:after{
    //position: absolute;
    //content: attr(data-suffix);
    //left: 2em;
    //top: 0;
    //font-size: 0.9em;
    position: absolute;
    content: attr(data-suffix);
    /* left: 2em; */
    bottom: -1em;
    font-size: 0.5em;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: lowercase;
    line-height: 1px;
  }
  //&:before{
  //  position: absolute;
  //  //background: red;
  //  content: '';
  //  top: 0;
  //  left:0;
  //  width:100%;
  //  height:100%;
  //}
}

.donutInput {
  background: transparent;
  border: none;
  color: #fff;
  text-align: center;
  display: block;
  font-size: 1em;
  height: 1em;
  width: 3em;
  outline: none;
  font-family: 'Manrope', sans-serif;
}

.donut-ring {
  //stroke: #EBEBEB;
  //stroke: whitesmoke;
  stroke: rgb(255 255 255 / 58%);
}

.donut-segment {
  animation: donut-chart-fill 1s reverse ease-in;
  transform-origin: center;
  //stroke: #FF6200;
}

.donut-text {
  font-family: Arial, Helvetica, sans-serif;
  fill: #FF6200;
}

.donut-label {
  font-size: 0.28em;
  font-weight: 700;
  line-height: 1;
  fill: #000;
  transform: translateY(0.25em);
}

.donut-percent {
  font-size: 0.5em;
  fill: #FF6200;
  line-height: 1;
  transform: translateY(0.5em);
}

.title{
  text-align: center;
  font-size: 0.7em;
  font-weight: 600;
}


