<form [formGroup]="timersConfigForm">
  <ng-container formArrayName="timersConfigFa">

    <div class="row" *ngFor="let group of timersConfigFa.controls; let i = index"
         [formGroupName]="i">
      <ng-container *ngIf="!group.get('id')?.value">
        <a (click)="saveNewItem(i)" class="saveNewItemButton"
        [class.valid]="group.get('eventName')?.value && group.get('eventType')?.value">
          <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<!--            <circle cx="12" cy="11" r="9" />-->
            <g>
              <path d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"/>
            </g>
          </svg>
        </a>
      </ng-container>
      <ng-container *ngIf="group.get('id')?.value">
        <a *ngIf="group.get('visibility')?.value"
           (click)="setRowVisibility(i, false)">
          <svg
            width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g>
              <path fill="#ffe400" d="M12 3c5.392 0 9.878 3.88 10.819 9-.94 5.12-5.427 9-10.819 9-5.392 0-9.878-3.88-10.819-9C2.121 6.88 6.608 3 12 3zm0 16a9.005 9.005 0 0 0 8.777-7 9.005 9.005 0 0 0-17.554 0A9.005 9.005 0 0 0 12 19zm0-2.5a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9zm0-2a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </g>
          </svg>
        </a>
        <a *ngIf="!group.get('visibility')?.value"
           (click)="setRowVisibility(i, true)">
          <svg
            width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g>
              <path fill="#a1a1a1" d="M17.882 19.297A10.949 10.949 0 0 1 12 21c-5.392 0-9.878-3.88-10.819-9a10.982 10.982 0 0 1 3.34-6.066L1.392 2.808l1.415-1.415 19.799 19.8-1.415 1.414-3.31-3.31zM5.935 7.35A8.965 8.965 0 0 0 3.223 12a9.005 9.005 0 0 0 13.201 5.838l-2.028-2.028A4.5 4.5 0 0 1 8.19 9.604L5.935 7.35zm6.979 6.978l-3.242-3.242a2.5 2.5 0 0 0 3.241 3.241zm7.893 2.264l-1.431-1.43A8.935 8.935 0 0 0 20.777 12 9.005 9.005 0 0 0 9.552 5.338L7.974 3.76C9.221 3.27 10.58 3 12 3c5.392 0 9.878 3.88 10.819 9a10.947 10.947 0 0 1-2.012 4.592zm-9.084-9.084a4.5 4.5 0 0 1 4.769 4.769l-4.77-4.769z"/>
            </g>
          </svg>
        </a>
      </ng-container>
      <input [formControlName]="'eventName'" class="control">
      <select name="eventType" id="eventType"
              [formControlName]="'eventType'"
              class="control"
      >
        <option value="work">Работа</option>
        <option value="rest">Отдых</option>
        <option value="default">Другое</option>
      </select>

      <my-custom-element [formControlName]="'eventLength'"
                         [color]="'#fff'"
                         [suffix]="'Отдых'"
                         [step]="1"
                         [size]="25"

      ></my-custom-element>
      <svg (click)="removeItem(i)" *ngIf="group.get('id')?.value"
        class="delete" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <g>
          <circle cx="12" cy="11" r="9" />
          <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z"/>
        </g>
      </svg>
    </div>

  </ng-container>
</form>
