.topRow {
	display: flex;
	justify-content: space-between;
}

.progressBar {
	display: flex;
	column-gap: 8px;
}

.bottomControlsRow {
	display: flex;
	justify-content: center;
	column-gap: 12px;
	margin-top: 12px;
}