<div class="topRow">
  <button gui type="button"
    [inputs]="{
      label: 'К списку',
      routerLink: 'doro/event-list'
    }"
  ></button>
  <button gui type="button"
    [inputs]="{
      label: 'Новое',
      routerLink: 'doro/create-event'
    }"
  ></button>
</div>

@if (eventState$ | async; as eventState) {
  <li>
    <div>
      <ng-container *ngIf="eventState.viewState === 'READY_VIEW_STATE'">

        <ng-container [ngTemplateOutlet]="name"></ng-container>
        
        <ng-container [ngTemplateOutlet]="readableState"></ng-container>

        <ng-container [ngTemplateOutlet]="playButton"></ng-container>

        <ng-container [ngTemplateOutlet]="pauseButton"></ng-container>

        <ng-container [ngTemplateOutlet]="length"></ng-container>

        <ng-container 
          [ngTemplateOutlet]="progressBar" 
          [ngTemplateOutletContext]="{$implicit: eventState.data}"
        ></ng-container>

       <app-timer 
       		[length]="eventState?.data?.len ?? 0"
          [time]="eventState?.data?.cur ?? 0"
          [eventType]="eventProps.type"
       >
       </app-timer>

       <ng-container [ngTemplateOutlet]="bottomControlsRow"></ng-container>
       
        
      </ng-container>

      <ng-template #name let-data>
        <div class="name">
          {{ eventProps.id }} | {{ eventProps.name }}
        </div>
      </ng-template>

      <ng-template #readableState>
        @if (eventState && eventState.eventState) {
          IS {{ eventStateNames[eventState.eventState] }}  
        }
        
      </ng-template>

      <ng-template #playButton>
        @if (eventState.eventState !== EventStates.PLAYING) {
          <i title="play" class="mu mu-play" (click)="playEvent()"></i>
        }
      </ng-template>

      <ng-template #pauseButton>
        @if (eventState.eventState === EventStates.PLAYING) {
          <i title="pause" class="mu mu-pause" (click)="pauseEvent()"></i>
        }
      </ng-template>

      <ng-template #length>
        <br>
        @if(eventProps.length) {
          {{ eventProps.length * 1000 | date:'HH:mm:ss':'UTC'}}
        }
      </ng-template>

      <ng-template #progressBar let-data>
        <div class="progressBar">
          <div class="time">
            {{ data?.cur  * 1000 | date:'HH:mm:ss':'UTC'}}
          </div>
          |
          <div class="percent">
            {{ data?.prc }}%
          </div>
        </div>
      </ng-template>

      <ng-container *ngIf="eventState.viewState === 'LOADING_VIEW_STATE'">
        <div *ngIf="eventState.eventState === EventStates.PENDING" class="timer">
          <pre>PENDING</pre>
        </div>
      </ng-container>

      <ng-template #bottomControlsRow>
        <div class="bottomControlsRow">
          <!-- <button gui
            type="button" 
            [inputs]="{
              icon: 'mu mu-replay',
              color: 'rgb(83 105 118 / 52%)'
            }"
            [outputs]="{click: finishTransitionAndDuplicateEvent.bind(this, view.data!)}"
          >
            Повторить
          </button> -->
          
          @if (eventState.eventState !== EventStates.PLAYING) {
            <button gui
              type="button" 
              [inputs]="{
                icon: 'mu mu-play',
                color: 'rgb(88 83 118 / 52%)'
              }"
              [outputs]="{click: playEvent.bind(this)}"
            >
              Начать
            </button>
          } 
          @else {
            <button gui
              type="button" 
              [inputs]="{
                icon: 'mu mu-pause',
                color: 'rgb(88 83 118 / 52%)'
              }"
              [outputs]="{click: pauseEvent.bind(this)}"
            >
              Начать
            </button>
          }
          
          <button gui
            type="button" 
            [inputs]="{
              icon: 'mu mu-next',
              color: 'rgb(175 84 84 / 52%)'
            }"
            [outputs]="{click: endEvent.bind(this)}"
          >
            Закрыть
          </button>
        </div>
      </ng-template>
    </div>
    
  </li>  
}
