.list-wrapper {
  max-width: 600px;
  background: #1c0816;
  font-family: "Montserrat", sans-serif;
  line-height: 1.25;
  letter-spacing: 1px;
  padding: 14px;
}
ul {
  padding: 0;
  margin: 0;
}

.noSchedules {
  text-align: center;
  padding: 20px;
  opacity: 0.5;
}
