<div class="container back">
  <ul class="eventList" appScroll>
    <li *ngFor="let el of scheduleEvents; let i = index; trackBy: tracker" (click)="handleSheduleEventClick(el)" #myElement>
      <div class="listItemInner">
        <div class="buttons">
          <a *ngIf="!el.isPlaying" (click)="handlePlay(el)" [class.isPaused]="el.isActive">
            <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <circle cx="12" cy="11" r="9" />
              <g>
                <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM10.622 8.415l4.879 3.252a.4.4 0 0 1 0 .666l-4.88 3.252a.4.4 0 0 1-.621-.332V8.747a.4.4 0 0 1 .622-.332z"/>
              </g>
            </svg>
          </a>
          <a *ngIf="el.isPlaying" (click)="handlePause(el.id)" class="isPlaying">
            <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <circle cx="12" cy="11" r="9" />
              <g>
                <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM9 9h2v6H9V9zm4 0h2v6h-2V9z"/>
              </g>
            </svg>
          </a>
        </div>
        <div class="nameWrapper">
          <div class="name" (click)="stopPropagation($event)">{{ el.name }}</div>
        </div>
        <div class="details" (click)="stopPropagation($event)">
          <div class="timeFromAndTo">
            <div class="timeFrom">{{ el.timeFrom | date: ' HH:mm' }}</div>
            <div class="timeTo">{{ el.timeTo | date: ' HH:mm' }}</div>
          </div>
          <div class="timeLengthAndCount">
            <ng-container *ngIf="!el.isPlaying">
              <div class="time__data">
                <span class="time__data__value">{{ el.timeLength }}</span>
                <span class="time__data_suffix"> '</span>
              </div>
            </ng-container>
            <ng-container *ngIf="el.isPlaying">
              <div class="time__data">
<!--                <span class="time__prefix">- </span>-->
                <span class="time__data__value">{{ el.timeLeft }}</span>
                <span class="time__data__suffix"> '</span>
              </div>
            </ng-container>
          </div>
          <div class="buttons">
            <a class="closeBtn" (click)="deleteScheduleEvent(el, i)">
              <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <circle cx="12" cy="11" r="9" />
                  <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z"/>
                </g>
              </svg>
            </a>

          </div>
        </div>
        <!--      <button (click)="startEvent(el.id)">Начать</button>-->
        <!--      <button (click)="pauseEvent(el.id)">Пауза</button>-->
        <!--      <button (click)="resumeEvent(el.id)">Возобновить</button>-->
        <!--      <button (click)="stopEvent(el.id)">Сбросить</button>-->
      </div>
    </li>
  </ul>
  <div class="controlsRow" [class.expanded]="isControlsExpanded">
    <div class="controlsInner">
      <div class="expandableRow">
        <app-form-array (arrayAway)="updateEventTemplates($event)"></app-form-array>
      </div>
      <div class="visibleRow">
        <ng-container *ngFor="let item of eventTemplates">
          <div *ngIf="item.visibility" class="eventTemplate" (click)="addNewScheduleEvent(item)">
            <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <circle cx="12" cy="11" r="9" />
              <g>
                <path d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"/>
              </g>
            </svg>
            <div class="eventTemplate__name">{{ item.eventName?.length > 6 ? ((item.eventName | slice: 0 : 5) + '..') : item.eventName}}</div>
            <div class="eventTemplate__length">{{item.eventLength}}</div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="toggle__wrapper">
      <a (click)="toggleControlsRow()">
        <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <g>
            <path d="M12 10.828l-4.95 4.95-1.414-1.414L12 8l6.364 6.364-1.414 1.414z"/>
          </g>
        </svg>
      </a>
    </div>
  </div>
  <div class="bottomRow">
    <app-navigation></app-navigation>
  </div>
</div>




