.container{
  // background-color: #1f1b2e;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  height: 362px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
  min-width: 250px;
  align-items:stretch;
}
.eventList{
  margin: 0px auto;
  padding-left: 0;
  & > li {
    background-color: #2c2c3e;
    width: 243px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
    padding: 0px 17px;
    border-radius: 35px;
    & .name{
      display: block;
      color: #cbcbcb;
      font-size: 13px;
    }
    & .details{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 96px;
      & .time{
        display: block;
        font-size: 13px;
        & span{

          margin-left: 4px;
        }
      }
      & .buttons{
        a {
          display: block;
          line-height: 0;
          & svg {
            cursor:pointer;
            width: 33px;
            height: 33px;
            & g path{
              fill: #f2f2f2
            }
          }
          &:hover{
            & svg g path{
              fill: #fff
            }
          }
        }
      }
    }
  }
}
