<div class="container back">
  <ul class="eventList">
    <li *ngFor="let el of scheduleEvents; trackBy: tracker" (click)="handleSheduleEventClick(el)">
      <div class="name" (click)="stopPropagation($event)">{{ el.name }}</div>
      <div class="details" (click)="stopPropagation($event)">
        <div class="time">
          <ng-container *ngIf="!el.isPlaying">
            <div class="time__data">
              <span class="time__data__value">{{ el.timeLength }}</span>
              <span class="time__data_suffix">мин</span>
            </div>
          </ng-container>
          <ng-container *ngIf="el.isPlaying">
            <div class="time__prefix">осталось</div>
            <div class="time__data">
              <span class="time__data__value">{{ el.timeLeft }}</span>
              <span class="time__data_suffix">мин</span>
            </div>
          </ng-container>
        </div>
        <!--      <span>{{ getHoursAndMinutes(el.timeFrom) }}</span>-->
        <!--      <span>{{ getHoursAndMinutes(el.timeTo) }}</span>-->
        <div class="buttons">
          <a *ngIf="!el.isPlaying" (click)="handlePlay(el)" [class.isPaused]="el.isActive">
            <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <circle cx="11" cy="11" r="9" />
              <g>
                <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM10.622 8.415l4.879 3.252a.4.4 0 0 1 0 .666l-4.88 3.252a.4.4 0 0 1-.621-.332V8.747a.4.4 0 0 1 .622-.332z"/>
              </g>
            </svg>
          </a>
          <a *ngIf="el.isPlaying" (click)="handlePause(el.id)" class="isPlaying">
            <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <circle cx="11" cy="11" r="9" />
              <g>
                <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM9 9h2v6H9V9zm4 0h2v6h-2V9z"/>
              </g>
            </svg>
          </a>
        </div>
      </div>
<!--      <button (click)="startEvent(el.id)">Начать</button>-->
<!--      <button (click)="pauseEvent(el.id)">Пауза</button>-->
<!--      <button (click)="resumeEvent(el.id)">Возобновить</button>-->
<!--      <button (click)="stopEvent(el.id)">Сбросить</button>-->

    </li>
  </ul>
  <div class="bottomRow">
    <app-navigation></app-navigation>
  </div>
</div>




