<div class="container back">
  <ul class="eventList">
<!--    <li>-->
<!--      <span>Название</span>-->
<!--      <span>Мин.</span>-->
<!--      <span>Начало</span>-->
<!--      <span>Конец</span>-->
<!--      <span>Действие</span>-->
<!--    </li>-->
    <li *ngFor="let el of scheduleEvents; trackBy: tracker" (click)="handleSheduleEventClick(el)">
      <div class="name" (click)="stopPropagation($event)">{{ el.name }}</div>
      <div class="details" (click)="stopPropagation($event)">
        <div class="time">{{ getDiffInMinutes(el.timeFrom, el.timeTo) }}<span>мин</span></div>

        <!--      <span>{{ getHoursAndMinutes(el.timeFrom) }}</span>-->
        <!--      <span>{{ getHoursAndMinutes(el.timeTo) }}</span>-->
        <div class="buttons">
          <a *ngIf="!el.isPlaying" (click)="handlePlay(el)">
            <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <g>
                <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM10.622 8.415l4.879 3.252a.4.4 0 0 1 0 .666l-4.88 3.252a.4.4 0 0 1-.621-.332V8.747a.4.4 0 0 1 .622-.332z"/>
              </g>
            </svg>
          </a>
          <a *ngIf="el.isPlaying" (click)="pauseEvent(el.id)">
            <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <g>
                <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM9 9h2v6H9V9zm4 0h2v6h-2V9z"/>
              </g>
            </svg>
          </a>
        </div>
      </div>
<!--      <button (click)="startEvent(el.id)">Начать</button>-->
<!--      <button (click)="pauseEvent(el.id)">Пауза</button>-->
<!--      <button (click)="resumeEvent(el.id)">Возобновить</button>-->
<!--      <button (click)="stopEvent(el.id)">Сбросить</button>-->

    </li>
  </ul>
  <div class="bottomRow">
    <app-navigation></app-navigation>
  </div>
</div>




