<div class="container">
  <select gui
    [inputs]="{
      label: 'Таймеры',
      options: scheduleMenuItems$,
        value: currentSchedule,
        showEmptyOption: true,
        emptyOptionText: 'Выбрать таймер'
    }"
    [outputs]="{
      valueChange: goToScheduleRun.bind(this)
    }"
  ></select>
  @if (view$ | async; as view) {
    @switch(view.status) {
      @case(ViewStatus.LOADING) {
        <app-loading></app-loading>
      }
      @case(ViewStatus.READY) {
        @if (view.data; as data) {
          @switch (data[SCHEDULE_STATE_KEY]) {
            @case ('READY_TO_START') {
              <h1>Ready to start</h1>
              <app-base-event [data]="data"></app-base-event>
            }
            @case ('TRANSITION') {
              <h1>TRANSITION</h1>
              <app-base-event [data]="data"></app-base-event>
            }
            @case ('SCHEDULE_ENDED') {
              <h1>SCHEDULE_ENDED</h1>
            }
            @case ('PAUSED') {
              <h1>PAUSED</h1>
              <app-base-event [data]="data"></app-base-event>
            }
            @case ('PLAYING') {
              <h1>PLAYING</h1>
              <app-base-event [data]="data"></app-base-event>
            }
          }
        }
      }
      @case(ViewStatus.ERROR) {
        <h1>error</h1>
        <pre style="white-space: normal;">{{view.error}}</pre>
        <button gui type="button"
          [inputs]="{
            label: 'Удалить таймер ' + scheduleId,
          }"
          [outputs]="{click: deleteCurrentSchedule.bind(this)}"
        ></button>
      }
    }
  }
</div>