<!-- <div class="list-wrapper">
	<ul>
		<li *ngFor="let event of events">
			<div>
				<div class="name">
					{{ event.event_name }}
				</div>
			</div>
			<div class="action">
				<i title="play" class="mu mu-play" (click)="playEvent(event.id)"></i>
		   	  <div gui type="dropdown"
			   	  [inputs]="{
			   	  	buttonIcon: 'mu mu-opts-v',
			   	  	items: menuItems
			   	  }"
			   	  [outputs]="{
					itemSelected: deleteEvent.bind(this, event.id)
			   	  }"
		   	  ></div>
			</div>
		</li>
	</ul>	
</div>
 -->
 <div class="list-wrapper">
  <ul>
    <app-event-list-event
      *ngFor="let event of events$ | async;"
      [eventProps]="event"
      (actionAway)="handleEventAction($event)"
      (deleteEvent)="deleteEvent($event)">
    </app-event-list-event>
  </ul>  
</div>