<!-- <div class="list-wrapper">
	<ul>
		<li *ngFor="let event of events">
			<div>
				<div class="name">
					{{ event.event_name }}
				</div>
			</div>
			<div class="action">
				<i title="play" class="mu mu-play" (click)="playEvent(event.id)"></i>
		   	  <div gui type="dropdown"
			   	  [inputs]="{
			   	  	buttonIcon: 'mu mu-opts-v',
			   	  	items: menuItems
			   	  }"
			   	  [outputs]="{
					itemSelected: deleteEvent.bind(this, event.id)
			   	  }"
		   	  ></div>
			</div>
		</li>
	</ul>	
</div>
 -->

@if (events$ | async; as events) {
	<div class="list-wrapper">
	  <ul>

	  	@for(event of events; track event) {
	  		<!-- <pre>{{event | json }}</pre> -->
	  		<app-event-list-event 
		      [eventProps]="event"
		      >
		    </app-event-list-event>	
	  	}
	  </ul>
	</div>
}